.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.App-header {
  width: 60%;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  margin: 0;
  font-size: 4rem;
  color: #333;
}

p {
  margin: 10px 0;
  font-size: 1.5rem;
  color: green;
}

.MuiTabs-flexContainer {
  justify-content: space-between;
}

.MuiTab-root {
  font-size: 1rem;
  color: #000;
  text-transform: none;
  min-width: 10%;
}

.Mui-selected {
  color: #000000 !important;
}

.MuiTabs-indicator {
  background-color: #6200ea;
}

.MuiTypography-root {
  font-weight: bold;
}

span {
  color: #888;
  font-size: 1.5rem;
  font-weight: normal;
}