.chart-container {
  text-align: center;
  margin-bottom: 4rem;
}

.chart-heading {
  font-size: 4rem;
  margin: 0;
  font-weight: bold;
  display: flex;
}

.chart-subheading {
  font-size: 1.5rem;
  color: #888;
  font-weight: normal;
  padding-top: 10px;
  padding-left: 6px;
}

.increment-text {
  color: green;
}

.decrement-text {
  color: red;
}

.chart-value {
  font-size: 1.5rem;
  margin-top: 10px;
  display: flex;
}

.tabs-container {
  width: 100%;
  margin-top: 1rem;
}

.tab-indicator {
  background-color: #4B40EE;
}

.button-group-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.fullscreen-btn,
.compare-btn {
  margin-right: 3rem !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.interval-button {
  background-color: transparent;
  margin: 0 8px 0 8px !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.interval-button.selected {
  background-color: #4B40EE;
  color: white !important;

  &:hover {
    background-color: #4B40EE;
  }
}

.content-container {
  padding: 2rem 0;
}

.bottom-line {
  justify-content: flex-start !important;
  border-bottom: .5px solid hsl(240deg 10.15% 85.27%)
}

.MuiTabs-flexContainer {
  justify-content: flex-start !important;
  margin-bottom: 12px !important;
}